#regForm {
  background-color: #ffffff !important;
	border-radius: 10px;
	box-shadow: 0 0 24px 0 rgba(1, 22, 63, 0.08); 
  margin: 100px auto;
  padding: 40px;
  width: 70%;
  min-width: 540px;
}
#regForm h3 {
  font-size: 2rem;
  margin: 0 0 1rem;
  font-weight: bold;
}
#regForm h4 {
  font-size: 1.5rem;
  margin: 0 0 1rem;
  font-weight: bold;
}
#regForm p {
  margin: 0 0 1.5rem;
}
#regForm .tab-step {
  font-size: 0.8rem;
}
#regForm .ldn-prods {
  margin-bottom: 20px;
}
#regForm .ldn-prods .ldn-prod {
  max-width: 320px;
  border: 1px solid;
  padding: 20px;
  font-size: 0.9rem;
  background: #fafafa;
}
#regForm .ldn-prods .ldn-prod .ldn-image {
  position: relative;
}
#regForm .ldn-prods .ldn-prod .ldn-image span {
  position: absolute;
  top: -10px;
  left: 10px;
  background-color: #50C5B7;
  display: inline-block;
  line-height: 1;
  padding: 5px;
  color: #fff;
  font-size: 0.8rem;
}
#regForm input,
#regForm select {
  padding: 10px;
  width: 100%;
  font-size: 17px;
  font-family: Poppins;
  border: 1px solid #aaaaaa;
}
#regForm input.invalid,
#regForm select.invalid {
  background-color: #ffdddd;
}
#regForm .tab {
  display: none;
}
#regForm .tab label.label-input, #regForm .tab label.label-agree {
  display: flex;
  margin: 10px auto;
  border: 1px solid #aaa;
  padding: 10px;
  line-height: 1.2;
	border-radius: 5px;
}
#regForm .tab label.label-input input[type=radio],
#regForm .tab label.label-input input[type=checkbox], #regForm .tab label.label-agree input[type=radio],
#regForm .tab label.label-agree input[type=checkbox] {
  width: auto;
  margin-right: 10px;
  display: inline-block;
}
#regForm .tab label.label-agree {
  border: 0;
  padding: 20px 0;
  margin: 0;
}
#regForm .tab textarea {
  width: 100%;
  border: 1px solid #aaa;
  padding: 10px;
  height: 120px;
	border-radius: 5px;
}
#regForm .tab .tab-center {
  margin: 0 auto;
}
#regForm .tab .bday-error {
  display: none;
  color: #ff0000;
  font-size: 16px;
  padding: 10px 0;
}
#regForm .tab .bday-row {
  display: flex;
  max-width: 320px;
  flex-wrap: wrap;
}
#regForm .tab .bday-row .bday-col {
  width: 33.33%;
}
#regForm .tab .bday-row .bday-col select {
  -webkit-appearance: none;
  -moz-appearance: none;
}
#regForm .tab input[type=date] {
  box-sizing: border-box;
  outline: 0;
  position: relative;
  width: 100%;
}
#regForm .tab input[type=date]::-webkit-calendar-picker-indicator {
  background: transparent;
  bottom: 0;
  color: transparent;
  cursor: pointer;
  height: auto;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  width: auto;
}
#regForm .nav-btns {
  display: flex;
  padding: 20px 0;
}
#regForm button {
  background-color: #4853ca;
  color: #ffffff;
  border: none;
  padding: 18px 55px;
  margin: 0 5px;
  font-size: 17px;
  cursor: pointer;
  border-radius: 5px;
}
#regForm button:hover {
  opacity: 0.8;
}
#regForm #prevBtn {
  background-color: #bbbbbb;
}
#regForm .step {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbbbbb;
  border: none;
  border-radius: 50%;
  display: inline-block;
  opacity: 0.5;
}
#regForm .step.active {
  opacity: 1;
}
#regForm .step.finish {
  background-color: #4853ca;
}

/*# sourceMappingURL=style.css.map */


